<section>
  <h1>About Us</h1>
  <p>
  Jungle was created to help you disconnect and decompress through the appreciation of plants in the spaces we occupy. Our selection of plants has a plethora of benefits designed to elicit a sense of tranquility and mindfulness.
  </p>
  <p>
  From boosting your creativity and concentration, to reducing stress and purifying the air, the influence of plants within a given environment, has proven to be advantageous. Introducing plants to your space has the capacity to improve your health and overall happiness.
  </p>
  <p>
  Sometimes, when the world around you seems a bit chaotic, the synergy between plants and humans are a natural progression in helping us to remain grounded.  
  </p>
</section>